.buildpath
.hgignore.swp
.project
.orig
.swp
.idea/
.settings/
.vscode/
vender/
log/
composer.lock
gitpush.sh
pkg/
bin/
cbuild
*/.DS_Store
main
gf-empty
.vscode
go.sum

ui/node_modules
ui/.env.development
ui/dist
server/config/config.toml
server/vender/*
server/logs/*
server/tmps/*
server/dnf-game-manager
server/server